/*change the heading of index.html to peru background and font color as bisque */
body{
	background-color: blue;
}
h1 {
	background-color: peru;
	color: bisque;
	}
h2 	{
	background-color: peru
	color: bisque;
}
/*change font of body text to sans-seriff and background to saddlebrown*/
main {
	background-color: saddlebrown;
	font-family: sans-serif;
	color: gainsboro; 
} 
@media screen and (min-width: 750px){
	body{ 
	background-color: maroon;
	color: moccasin;
	}
	head{
		font-family: Times New Roman;
		]